/*slider width js*/
.slideshow-container{
    position: relative;
    max-width:1000px;
    margin: 10px auto;
}
.mySlides{
    text-align: center;
}
.mySlides img{
    max-width:100%;
}
.prev, .next{
    position: absolute;
    top: 55px;
    cursor: pointer;
    transition: ease-in-out 0.4s;
    font-size:33px;
    font-weight: bold;
    color:silver;
}
.prev:hover, .next:hover{
    color:black;
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}
.text{
    position: relative;
    bottom: 35px;
    color:white;
    font-size:17px;
}
.doto{
    text-align: center;
}
.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: silver;
    border-radius: 100%;
    transition: ease-in-out 0.4s;
    margin: 1px;
    cursor: pointer;
}
.active, .dot:hover{
    background-color: black;
}
.fade{
    animation-name: fade;
    animation-duration: 0.6s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.6s;
}
@keyframes fade{
    0%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}